<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simple AI Chat Bot Demo with Web Speech API">


    <title>AI - Web Speech API</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
      <h1>AI - Web Speech API</h1>
    

      <p>This is a AI project made up with node.js and crafted by some other tools. It's an artefact that I started to measure out I would say , a pretty nuclear and elemental way to develop AI through the web, by recognizing your speech.<br>
        By Software Engineer / Developer felipe@nodeio.us 
      </p>

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>Tu le has dicho: <em class="output-you">...</em></p>
          <p>Bot responde: <em class="output-bot">...</em></p>
      </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
