<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simple AI Chat Bot Demo with Web Speech API">


    <title>AI - Web Speech API</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
        <pre>
<h1>Ex-Machina.JS</h1>
    

This is a  pretty nuclear and elemental way to develop AI through the web, by recognizing your speech.
This is going to be a social bot, and emotional bot or mind built considering elements of AI.
        
     
<br>
<br>

<button><i class="fa fa-microphone"></i></button>

      <div>
<p>Tu le has dicho: <em class="output-you">...</em></p>
<p>Bot responde: <em class="output-bot">...</em></p>
      </div>



      <br>
      <br>
CC2018-Present - By Software Engineer / Developer Felipe Alfonso González (f.alfonso@res-ear.ch)
    </section>
  </pre>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
